body{
    background-image:linear-gradient(360deg, gray ,white );
}
.top{
    top: 0px;
    width: 100%;
    height: 10%;
    font-size:30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: dimgray;
    background-color: grey 1 ;
    position: fixed; 
    text-align: start;
}
fieldset{
    height: 1270%;
    margin-top:5%;
    background-color: beige;
}
h1{
    margin-top:0%;
    font-size: 40px;
    font-family: cursive;
}
p{
    font-size: 20px;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    margin-top:2%;
    font-size: 40px;
    font-family: cursive;
}

h3{
    margin-left: 80%;
     font-family: cursive;
    float: right ;
    }
    h4{
        text-align: center;
        font-family: cursive;
        font-size: large;
    }
a{
    text-decoration: none;
    color:blue;

}
a:hover{
    text-decoration: underline;
    color:darkgrey;
background-color: darkblue;}


.a{
 padding-bottom:1%;
 height: 7px;
background-color:yellowgreen;
font-size: 15px;
}
.b{
margin-top: 9%;
        padding:10px;
        height:70px;
    background-color:rgb(84, 231, 150);
    font-size: 20px;
}

xmp{
    font-size: 20px;
    background-color: lightsteelblue;
}
.c{

    padding-bottom:2.5%;
    height:0.9%;
background-color:yellowgreen;
font-size: 15px;
}
.d{
    border: 2px dashed blue;
margin-top: 25%;
    padding-bottom:2%;
    height: 7.8%;
    width: 50%;
background-color:(55, 172, 146);
font-size: 25px;
}
.e{
    height: 80px;
    background-color:gold;
    
}
pre{
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    margin-top: 35px;
}
table  tr td{
    width: 250px ; 
     padding: 10px;
     
    border:1px solid black;
}
input{
    font-size: 15px;
    height:30px;
    width: 250px;
    padding:5px;
}
th{
    font-size: x-large;
}
.header{
    border: 10px dotted orange;
    width: 50%;

}


.blog-posts{
    margin-top: 10px;
   width: 70%;
    border: 10px dashed wheat;   
} 

.postt{
    width: 80%;
    margin-top: 10px;
    border: 10px dotted green ;
    
}
#the-h1-part-way-down-the-page{
    top: 2%;
    padding: 10px;
    height:2.5%;
    width: 30%;
    border: 3px solid gold;
    border-radius: 5px;

}

.art{
    top:2%;
    padding: 5px;
    height:3%;
    width: 30%;
    border: 3px solid gold;
    border-radius: 5px;

}